:root {
    font-size: 100%;
}

a{
    transition: all 0.3s;
}

a:hover{
    transition: all 0.3s;   
    text-decoration: none;
}

button{
    outline: none;
    transition: all 0.3s;
}

body iframe{
    max-width: 100%;
}

body img{
    max-width: 100%;
    height: auto;
}

i[class*="icon-"]{
    display: inline-block;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5{

}

h1, .h1{
    font-size: 30px;
}

h2, .h2{
    font-size: 25px;
}

h3, .h3{
    font-size: 20px;
}

h4, .h4{
    font-size: 17px;
}

h2.title{
    font-size: 25px;
}
